
<div class="page-content">
  <div class="content" id="post-content">
    <p>{{ content }}</p>



      <hr>
      <div id="btn-show-comment">
        <div onclick="showComment()">显示评论</div>
      </div>
      <div id="comment" style="display: none">
		<div id="disqus_thread"></div>
		<script>

		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		/*
		var disqus_config = function () {
		this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		var disqus_config = function () {
			this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
			this.page.identifier = "{{ page.url }}";
		};

		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://cbpi.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>



    <script>
      function showComment() {
        if(document.getElementById("comment").style.display=="none") {
          document.getElementById("comment").style.display="block";
          document.getElementById("btn-show-comment").style.display="none";
        }
      }
      function showReward() {
        if (document.getElementsByClassName("reward-qr-code")[0].style.display=="none" ) {
          document.getElementsByClassName("reward-qr-code")[0].style.display="block";
        } else {
          document.getElementsByClassName("reward-qr-code")[0].style.display="none";
        }
      }
    </script>
  </div>
</div>