{% include head.html %}
	<!-- Preloader Start -->
	<div class="preloader">
		<div class="rounder"></div>
	</div>
	<!-- Preloader End -->
	<div id="main">
		<div class="container">
			<div class="row">
				{% include info.html %}
				<!-- Blog Post (Right Sidebar) Start -->
				<div class="col-md-9">
					<div class="col-md-12 page-body">
						<div class="row">
							<div class="sub-title">
								<h2>我的博客</h2>
								<a href="mailto:chenbo9018@gmail.com"><i class="icon-envelope"></i></a>
							</div>
							<div class="col-md-12 content-page">
								<!-- Blog Post Start -->
								{% for post in site.posts %}
								<div class="col-md-12 blog-post">
									<div class="post-title">
										<a href="{{ post.url }}">
											<h3>{{ post.title }}</h3>
										</a>
									</div>
									{% include post_info.html %}
									<p>{{ post.content | strip_html | strip_newlines | truncate: 250 }}</p>
									<a href="{{ post.url }}" class="button button-style button-anim fa fa-long-arrow-right"><span>详细</span></a>
								</div>
								{% endfor %}
								<!-- Blog Post End -->



								<div class="col-md-12 text-center">
									<a href="javascript:void(0)" id="load-more-post" class="load-more-button">更多</a>
									<div id="post-end-message"></div>
								</div>
							</div>
						</div>
					</div>
					{% include copyright.html %}
				</div>
				<!-- Blog Post (Right Sidebar) End -->
			</div>
		</div>
	</div>
{% include footer.html %}
